
body {
	background-color: gray;
	margin: 0px;
}
html {
  -webkit-backface-visibility: hidden;
}
/*-----------------------------HEADERS-----------------------------*/

.all {
}
.bigheader {
	height: 75px;
	position: relative;
	overflow: hidden;
}
.bigheader>img {
	width: 100%;
	
	background-color: gray;
	margin: -100px 0 0 0;
}


.smallheader {
	width: 100%;
	height: 75px;
	overflow: hidden;
	background-color: gray;
}

.smallheader img {
	width: 100%;
	margin: -140px 0 0 0;
}
/*------------------------------------MY FACE--------------------------------*/
a {
	text-decoration: none !important;
	color: white;
}


.bubble {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 99;
}
.container {
  float: left;
}
.container>img {
  width: 75px;
  height: 75px;
  border-radius: 50%;


}

.content {
  background-color: gray;
  height: 75px;
  width: 100px;
  position: absolute;
  left: 32px; 
  z-index: -1;
  text-align: right;
  line-height: 75px;
  font-size: 200%;
  font-family: 'League Gothic';
  color: white;
  opacity: 0;
  transition: width 0.6s, opacity 0.6s;
}

.container:hover + .content {
  opacity: 100;
  width: 300px;
}

/*------------------------------LINKS----------------------------*/
.links {
	position: relative;
}
.links > div {
	float: left;
	color: white;
	
	text-align: right;
	height:40px;
	font-size: 250%;
	font-family: 'League Gothic';
}
#resume {
	background-color: #1F1F1F;
	width: 25%;
	}
#art {
	background-color: #3D3D3D;
	width: 25%;
}
#blog {
	background-color: #7a7a7a;
	width: 25%;
	}
#shop {
	background-color: #b8b8b8;
	width: 25%;
	}



/*----------------------------THE REST---------------------------------*/

.patternbar {
	clear: both;
	background-color:silver;
	background-image: 
		radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
		radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
		radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
		radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
		radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;
	width: 100%;
	height: 40px;
}

.thestuff {
	position: relative;
}

.background {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: #7a7a7a;
	border-radius: 3px;

}

.mackinak {
	position: absolute;
	top: 25px;
	left: 25px;
}

.mackinak > a > img{
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 3px;
}
/*
#trythis {
	height: 10px;
	width: 10px;
}
*/
#footer {
	clear: left;
}

.landscape {
	position: relative;
	width: 2.0em;
	height: 2.0em;
	margin: 30% auto;
	background: transparent;
	border: solid 0.2em;
	overflow: hidden;

}

.landscape:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: solid 1.2em;
	border-left: solid 0.6em transparent;
	border-right: solid 0.6em transparent;

	-webkit-box-shadow: -0.2em -0.6em  0 transparent, -1.7em -0.4em 0 transparent, -0.7em 0.4em 0 #2c2c2c;
	-moz-box-shadow: -0.2em -0.6em  0 transparent, -1.7em -0.4em 0 transparent, -0.7em 0.4em 0 #2c2c2c;
	box-shadow: -0.2em -0.6em  0 transparent, -1.7em -0.4em 0 transparent, -0.7em 0.4em 0 #2c2c2c;
}

.landscape:after{
	content: "";
	position: absolute;
	left: 0.1em;
	top: 0.1em;
	width: 0.8em;
	height: 0.8em;
	background: transparent;
	border-radius: 50%;

	-webkit-box-shadow: inset 0.4em -0.2em 0 #2c2c2c;
	-moz-box-shadow: inset 0.4em -0.2em 0 #2c2c2c;
	box-shadow: inset 0.4em -0.2em 0 #2c2c2c;
}

p{
	color: white;
}